{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FAQs</title>
<link rel="stylesheet" href="{% static 'css/BMI.css' %}">
</head>

<body>

<div class="container">
<h1>Frequently Asked Questions</h1>

<h3>What is BMI?</h3>
<p>BMI (Body Mass Index) is a measure that uses height and weight to estimate body fat.</p>

<h3>Is BMI accurate?</h3>
<p>BMI provides a general idea of body weight category but may not perfectly represent body fat.</p>

<h3>Why should I calculate BMI?</h3>
<p>BMI helps you understand whether your weight is healthy or not.</p>

</div>

</body>
</html>