{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthy Body</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-4">

    <a class="navbar-brand" href="#">Healthy Body</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/BMI/">BMI</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
<!-- USER SECTION -->
<section class="hero1">
   <form method="POST" action="{% url 'BMI' %}" class="bmi-form">
    <div class="card2">{% if bmi %}
        <div class="result">
            <b>BMI:</b> {{ bmi }} <br>
            <b>Status:</b> {{ status }} <br>
            <b>Age:</b> {{ age }} | <b>Gender:</b> {{ gender }}
        </div>
    </div>{% endif %}
   </form>
    <div class="hero1-img">
        <img src="{% static 'images/strength.jpg' %}" alt="strength">
    </div>
</section>

        <h2>AI Diet Plan</h2>
        <ul>
          {% for d in diet_plan %}
            <li>{{ d }}</li>
          {% endfor %}
        </ul>

        <h2>AI Exercise Plan</h2>
        <ul>
          {% for e in exercise_plan %}
            <li>{{ e }}</li>
          {% endfor %}
        </ul>
  <h1>Ask me anything</h1>
  <div id="chat-box"></div>
  <input type="text" id="user-input" placeholder="Type your message..." autofocus>
  <button onclick="sendMessage()">Send</button>
<script>
function getCSRFToken() {
    return document.cookie.split('; ')
        .find(row => row.startsWith('csrftoken='))
        ?.split('=')[1];
}

async function sendMessage() {
  const input = document.getElementById("user-input");
  const message = input.value;
  input.value = "";

  const chatBox = document.getElementById("chat-box");
  chatBox.innerHTML += `<p><b>You:</b> ${message}</p>`;

  const res = await fetch("/aiapp/", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": getCSRFToken()
    },
    body: JSON.stringify({ message })
  });

  const data = await res.json();
  chatBox.innerHTML += `<p><b>Bot:</b> ${data.reply}</p>`;
}
</script>

<section class="user-section">
    <section class="bmi-section"><h1>If you want to gain weight
        <a href="{% url 'weight_gain' %}" class="btn btn-success ms-2 custom-btn">
            Click Here
        </a></h1>
    <h1 class="text-center">If you want to maintain your weight follow the diet and exercise below</h1>
    <p class="text-center">Follow it regularly for better results.</p></section>

    <div class="card1 p-3 mb-4">
        <h3 class="text-center">Warm-up routine before workout</h3>
        <table class="table table-bordered text-center">
            <tr><th>Workout</th><th>video link</th></tr>
            <tr><td><ol><li>Neck circles <br></li>
                    <li>Shoulder rotation<br></li>
                    <li>Arm circles<br></li>
                    <li>Arm circles opposite directions<br></li>
                    <li>Elbow circles<br></li>
                    <li>Wrist rotations<br></li>
                    <li>Hip rotation<br></li>
                    <li>Body circles<br></li>
                    <li>Inner tie and oblique<br></li>
                    <li>Lower back and hammer strings<br></li>
                    <li>Lounge tap<br></li>
                    <li>Side static lunge<br></li>
                    <li>Front static lunge<br></li>
                    <li>Squat cross arms<br></li>
                    <li>Standing crunch<br></li>
                    <li>Butterflyes<br></li>
                    <li>Jumping jacks<br></li></ol>
            </td><td><br><br><br><br><br><br><br><br>
            <b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/VecbXgWY0DI?si=l2tXEjnLDH-ec53y" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
        </table>
    </div>


    <div class="card1 p-3 mb-4">
      <div class="card-header bg-success text-white text-center"><h3 class="text-center">Exercises</h3></div>
        <table class="table table-bordered text-center">
            <tr><th>Day</th><th>Workout</th><th>Details</th><th>video link</th></tr>
            <tr><td>Mon</td><td>Full Body</td><td>legs, glutes, core, arms, shoulders, chest, back</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/ZIjdwUC6aaQ?si=7wjplQo6IpMLaClT" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Tue</td><td>Uper Body</td><td>chest, shoulders, arms & back</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/qOjXsxi2MG8?si=tSpzyE6zK-jSFeUw" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Tue</td><td>Lower Body</td><td>Static Lunge,Squats,Curtsy Lunge</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/X0xt0fYTZv8?si=8qzya4tYfuVn-QTy" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Thu</td><td>ABS</td><td>Leg Switches,Reverse Crunch + Leg Opener,Scissor Crossovers</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/BdhqubW1GJE?si=Tn0AWeWqh0lvMnzs" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Fri</td><td>Cardio</td><td> Jumping + Power Jacks,Cross Mountain Climbers,Air Squats,Plank T-Rotations</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/zibJBrpA8pw?si=JWCSgWlMaYcJwxqX" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sat</td><td>yoga</td><td>Muladhara Chakra,Swadishthana Chakra,Manipura Chakra,Anahata Chakra,Sahasrara Chakra</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/24RYHE3HlCQ?si=uurgwVJV0NTjFBsx" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sun</td><td>Rest</td><td>Recovery</td><td>good luck</td></tr>
        </table>
    </div>
    <!-- DIET TABLE -->
    <div class="card1 p-3">
        <div class="card-header bg-success text-white text-center"><h3 class="text-center">Daily Healthy Diet</h3></div>
        <table class="table table-bordered text-center">
            <tr><th>Time</th><th>What To Eat</th><th>Video</th></tr>
            <tr><td>Morning</td><td><b>Warm water + Almonds,Egg/Paneer</b></td>
                 <td>
                    <a href="https://youtu.be/E-Nn08WSdoY?si=QarPKmq0b3natn2D" target="_blank" class="btn btn-danger btn-sm">Watch</a>
                </td></tr>
            <tr><td>Breakfast</td><td><b>Oats/Poha,Fruit</b></td>
                <td>
                    <a href="https://youtu.be/QCWDY80L6-w?si=YZNiUbOW3PfH-UZx" target="_blank" class="btn btn-danger btn-sm">Watch</a>
                </td></tr>
            <tr><td>Lunch</td><td><b>Chapati, Dal, Vegetables, Salad</b></td>
                <td>
                    <a href="https://youtube.com/shorts/4NfoJwZu-DQ?si=YJuy6QghsSLxEcFF" target="_blank" class="btn btn-danger btn-sm">Watch</a>
                </td></tr>
            <tr><td>Evening</td><td><b>Green tea + Chana</b></td>
                <td>
                    <a href="https://youtube.com/shorts/3YpyAB116XY?si=sw6PprFpD1BWN4y4" target="_blank" class="btn btn-danger btn-sm">Watch</a>
                </td></tr>
            <tr><td>Dinner</td><td><b>Light food, Chapati + Veg</b></td>
                <td>
                    <a href="https://youtube.com/shorts/nDCJFf8jQ14?si=RFfY0jmVb2D-xhqP" target="_blank" class="btn btn-danger btn-sm">Watch</a>
                </td></tr>
        </table>
    </div>
</section>
<!-- FOOTER -->
<footer>
<footer class="main-footer">
    <div class="footer-container">

        <!-- Logo & Address -->
        <div class="footer-column">
            <h3 class="footer-logo">Healthy Body</h3>
            <p><strong>Corporate Address:</strong><br>
            Indore, Madhya Pradesh</p>

            <p><strong>Registered Address:</strong><br>Indore, MP</p>
        </div>

        <!-- Company -->
        <div class="footer-column">
            <h3>Web</h3>
            <a href="/about/">About Us</a>
            <a href="/privacy/">Privacy Policy</a>
            <a href="/contact/">Contact</a>
        </div>

        <!-- Explore -->
        <div class="footer-column">
            <h3>Explore</h3>
            <a href="/BMI/">BMI Calculator</a>
            <a href="/diet/">Diet</a>
            <a href="/exercise/">exercise</a>
        </div>

        <!-- Support -->
        <div class="footer-column">
            <h3>Support</h3>
            <a href="/help/">Help Center</a>
            <a href="/Faq/">FAQs</a>
            <a href="/Terms/">Terms</a>
            <a href="/Feedback/">Feedback</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Healthy Body | All Rights Reserved
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
