{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="landing-page-background"></div>

    <form action="" method="post">
        {% csrf_token %}
        <h3>Signup Here</h3><br><br>

        <!-- ✅ Messages yaha sirf show honge -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <label>Username</label>
        <input type="text" placeholder="Username" name="username" required>

        <label>Email</label>
        <input type="email" placeholder="Email" name="email" required>

        <label>Password</label>
        <input type="password" placeholder="Password" name="password1" required>

        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password" name="password2" required>
        <button type="submit">Signup</button><br><br>

        <a href="{% url 'login' %}">I already have an account</a>
    </form>
</body>
</html>