{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Terms and Conditions</title>
<link rel="stylesheet" href="{% static 'css/BMI.css' %}">
</head>

<body>

<div class="container">
<h1>Terms and Conditions</h1>

<p>
This BMI calculator is developed for educational and informational purposes only.
</p>

<p>
The results provided by this application should not be considered medical advice.
Users are encouraged to consult healthcare professionals for medical guidance.
</p>

</div>

</body>
</html>