{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthy Body</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-4">

    <a class="navbar-brand" href="/home/">Healthy Body</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/BMI/">BMI</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

<section class="user-section">
    <div class="card1 p-3 mb-4">
        <h3 class="text-center">Warm-up routine before workout</h3>
        <table class="table table-bordered text-center">
            <tr><th>Workout</th><th>video link</th></tr>
            <tr><td><ol><li>Neck circles <br></li>
                    <li>Shoulder rotation<br></li>
                    <li>Arm circles<br></li>
                    <li>Arm circles opposite directions<br></li>
                    <li>Elbow circles<br></li>
                    <li>Wrist rotations<br></li>
                    <li>Hip rotation<br></li>
                    <li>Body circles<br></li>
                    <li>Inner tie and oblique<br></li>
                    <li>Lower back and hammer strings<br></li>
                    <li>Lounge tap<br></li>
                    <li>Side static lunge<br></li>
                    <li>Front static lunge<br></li>
                    <li>Squat cross arms<br></li>
                    <li>Standing crunch<br></li>
                    <li>Butterflyes<br></li>
                    <li>Jumping jacks<br></li></ol>
            </td><td><br><br><br><br><br><br><br><br>
            <b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/VecbXgWY0DI?si=l2tXEjnLDH-ec53y" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
        </table>
    </div>


    <div class="card1 p-3 mb-4">
      <div class="card-header bg-success text-white text-center"><h3 class="text-center">Exercises(1-4week)</h3></div>
        <table class="table table-bordered text-center">
            <tr><th>Day</th><th>Workout</th><th>Details</th><th>video link</th></tr>
            <tr><td>Mon</td><td>Full Body</td><td>legs, glutes, core, arms, shoulders, chest, back</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/ZIjdwUC6aaQ?si=7wjplQo6IpMLaClT" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Tue</td><td>Uper Body</td><td>chest, shoulders, arms & back</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/qOjXsxi2MG8?si=tSpzyE6zK-jSFeUw" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Tue</td><td>Lower Body</td><td>Static Lunge,Squats,Curtsy Lunge</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/X0xt0fYTZv8?si=8qzya4tYfuVn-QTy" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Thu</td><td>ABS</td><td>Leg Switches,Reverse Crunch + Leg Opener,Scissor Crossovers</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/BdhqubW1GJE?si=Tn0AWeWqh0lvMnzs" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Fri</td><td>Cardio</td><td> Jumping + Power Jacks,Cross Mountain Climbers,Air Squats,Plank T-Rotations</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/zibJBrpA8pw?si=JWCSgWlMaYcJwxqX" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sat</td><td>yoga</td><td>Muladhara Chakra,Swadishthana Chakra,Manipura Chakra,Anahata Chakra,Sahasrara Chakra</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/24RYHE3HlCQ?si=uurgwVJV0NTjFBsx" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sun</td><td>Rest</td><td>Recovery</td><td>good luck</td></tr>
        </table>
    </div>
    <div class="card1 p-3 mb-4">
      <div class="card-header bg-success text-white text-center"><h3 class="text-center">After(1-4week)Exercises</h3></div>
        <table class="table table-bordered text-center">
            <tr><b><th>Day</th><th>Workout</th><th>Details</th><th>video link</th></tr>
            <tr><td>Mon</td><td>Chest+triceps</td><td>Dumbbell Chest Press,Standard Push Ups,Dumbbell Chest Flyes,Dumbbell Skull Crushers,triceps</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/hkeLoBUbY00?si=lJ4vCj7fEUQoD_Wd" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Tue</td><td>Back+Biceps</td><td>Single Arm Row,Rear Delt Row,Supinated Row,Alternating Bicep Curls, Hammer Curls</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/46Qp2R01_bM?si=xjhnVNNbsnig3Cnn" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Wed</td><td>Lower Body+ABS</td><td>Glute Bridge x AB Crunch,Side Plank x Knee Tuck,Squatting x Standing Crunch,Squats,Curtsy Lunge</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/j9je6fT_X2k?si=FtE0VUWDbnIhIHMx" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Thu</td><td>Chest+triceps</td><td>Dumbbell Chest Press,Standard Push Ups,Dumbbell Chest Flyes,Dumbbell Skull Crushers,triceps</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/hkeLoBUbY00?si=lJ4vCj7fEUQoD_Wd" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Fri</td><td>Back+Biceps</td><td>Single Arm Row,Rear Delt Row,Supinated Row,Alternating Bicep Curls, Hammer Curls</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/46Qp2R01_bM?si=xjhnVNNbsnig3Cnn" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sat</td><td>Lower Body+ABS</td><td>Glute Bridge x AB Crunch,Side Plank x Knee Tuck,Squatting x Standing Crunch,Squats,Curtsy Lunge</td>
            <td><b>For batter <br>understanding</b><br>
            <a href="https://youtu.be/j9je6fT_X2k?si=FtE0VUWDbnIhIHMx" target="_blank" class="btn btn-danger btn-sm mt-2">Watch Video</a></td></tr>
            <tr><td>Sun</td><td>Rest</td><td>Recovery</td><td>good luck</td></b></tr>
        </table>
    </div>
    <!-- DIET TABLE -->
    <div class="card1 p-3">
        <div class="card-header bg-success text-white text-center"><h3 class="text-center">Daily Pro Level Muscle Diet</h3></div>
        <table class="table table-bordered text-center">
            <tr><th>Time</th><th>What To Eat (High Protein + Clean Energy)</th><th>Video</th></tr>
            <tr><td>Morning (Empty Stomach)</td><td>Warm water + 5 Almonds + 2 Dates + 4 Egg whites / 100g Paneer</td><td>
            <a href="https://youtu.be/E-Nn08WSdoY?si=QarPKmq0b3natn2D" target="_blank" class="btn btn-danger btn-sm">Watch</a></td></tr>
            <tr><td>Breakfast</td><td>Oats with Milk + Banana + Peanut Butter / Poha + Omelette + Fruit</td><td>
            <a href="https://youtu.be/QCWDY80L6-w?si=YZNiUbOW3PfH-UZx" target="_blank" class="btn btn-danger btn-sm">Watch</a></td></tr>
            <tr><td>Lunch</td><td>2–3 Chapati or Rice + Dal/Rajma/Chole + Mixed Veg + Salad + Curd</td><td>
            <a href="https://youtube.com/shorts/4NfoJwZu-DQ?si=YJuy6QghsSLxEcFF" target="_blank" class="btn btn-danger btn-sm">Watch</a></td></tr>
            <tr><td>Evening (Pre-Workout)</td><td>Black Coffee/Green Tea + Boiled Chana/Sprouts + Handful Peanuts</td><td>
            <a href="https://youtube.com/shorts/3YpyAB116XY?si=sw6PprFpD1BWN4y4" target="_blank" class="btn btn-danger btn-sm">Watch</a></td></tr>
            <tr><td>Dinner (Post-Workout)</td><td>2 Chapati + Veg + Paneer/Chicken/Soya + Salad (Keep light & high protein)</td><td>
            <a href="https://youtube.com/shorts/nDCJFf8jQ14?si=RFfY0jmVb2D-xhqP" target="_blank" class="btn btn-danger btn-sm">Watch</a></td></tr>
        </table>
    </div>
</section>
<!-- FOOTER -->
<footer>
<footer class="main-footer">
    <div class="footer-container">

        <!-- Logo & Address -->
        <div class="footer-column">
            <h3 class="footer-logo">Healthy Body</h3>
            <p><strong>Corporate Address:</strong><br>
            Indore, Madhya Pradesh</p>

            <p><strong>Registered Address:</strong><br>Indore, MP</p>
        </div>

        <!-- Company -->
        <div class="footer-column">
            <h3>Web</h3>
            <a href="/about/">About Us</a>
            <a href="/privacy/">Privacy Policy</a>
            <a href="/contact/">Contact</a>
        </div>

        <!-- Explore -->
        <div class="footer-column">
            <h3>Explore</h3>
            <a href="/BMI/">BMI Calculator</a>
            <a href="/diet/">Diet</a>
            <a href="/exercise/">exercise</a>
            <a href="/progress/">Progress</a>
        </div>

        <!-- Support -->
        <div class="footer-column">
            <h3>Support</h3>
            <a href="/help/">Help Center</a>
            <a href="/Faq/">FAQs</a>
            <a href="/Terms/">Terms</a>
            <a href="/Feedback/">Feedback</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Healthy Body | All Rights Reserved
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
